.container-principal{
    top: 100px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 70rem;
    font-family: "Comfortaa", sans-serif;
}

h2{
    text-align: center;
    font-size: 3rem;
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin: 1rem;
}

.listaFormularios{
    text-align: center;
    padding-right: 10rem;
}

.listaFormularios button{
    background-color: rgba(255, 255, 255, 0.179);
    border-radius: 20px;
    box-shadow: 5px 2px 2px rgb(255, 255, 255)
}

.listaFormularios button:hover{
    background-color: rgba(255, 255, 255, 0.445);
}

img{
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.centro{
    margin: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.izquierda{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    text-align: center;
}

.izquierda ul{
    list-style: none;
}

.izquierda li{
    margin: 1rem;
}

.derecha{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
}

.dato1{
margin-left: 3rem;
}

.dato2{
    margin-left: 6rem;
}

.dato3{
    margin-left: 9rem;
}


