<app-loading *ngIf="loading; else elseBlock"></app-loading>
<ng-template #elseBlock>
  <div class="container-principal">
    <div class="izquierda">
      <div class="listaFormularios">
        <button (click)="modalFormularios()"><h2>Formularios</h2></button>
      </div>
    </div>
    <div class="centro">
      <h2><i class="fa-solid fa-user-astronaut" style="color: #ffffff;"></i> {{ user.name }} <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></h2>
      <div class="imgForms" *ngIf="user.gender === 'Mujer'">
        <img src="../../../assets/img/girlAstronauta.jpg" alt="" />
      </div>
      <div class="imgForms" *ngIf="user.gender === 'Hombre'">
        <img src="../../../assets/img/messiAstronauta.jpg" alt="" />
      </div>
      <div class="imgForms" *ngIf="user.gender === 'Antilope'">
        <img src="../../../assets/img/antilopejpg.jpg" alt="" />
      </div>
      <div class="imgForms" *ngIf="user.gender === 'Pelado'">
        <img src="../../../assets/img/pelado.gif" alt="" />
      </div>
    </div>
    <div class="derecha">
      <div class="informacion">
        <h3><i class="fa-solid fa-meteor" style="color: #ffffff;"></i> Apellido</h3>
        <p class="dato1">{{ user.last_name }}</p>
        <h3 class="dato2"><i class="fa-solid fa-heart-circle-bolt" style="color: #ffffff;"></i> Edad</h3>
        <p class="dato3">{{ user.age }}</p>
        <h3 class="dato3"><i class="fa-solid fa-satellite-dish" style="color: #ffffff;"></i> User</h3>
        <p class="dato2"> {{ user.username }}</p>
        <h3 class="dato1"><i class="fa-solid fa-newspaper" style="color: #ffffff;"></i> E-mail</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</ng-template>
