<app-loading *ngIf="loading; else elseBlock"></app-loading>
<ng-template #elseBlock>
  <div class="body">
    <div class="background">
      <h2> <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> » » Eventos historicos « « <i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i> </h2>
      <div class="container">
        <div class="cardAuto">
          <div class="imgAuto">
            <img [src]="auto.flickr_images[0]" alt="imagen pista" />
          </div>
          <div class="texto">
          <div class="titulo">
            <h3>{{ auto.name }}</h3>
          </div>
          <div class="fecha">
            <p>{{ auto.event_date_unix }}</p>
          </div>
          <div class="informacion">
            <p>{{ auto.details }}</p>
          </div>
          <div class="link">
            <a href="{{ auto.video }}" target="_blank"
              >video de {{ auto.name }}</a
            >
          </div>
          <div class="link">
            <a href="{{ auto.wikipedia }}" target="_blank"
              >video de {{ auto.name }}</a
            >
          </div>
          </div>
          
        </div>
        <div class="lineaStar">
          ----------------------------◯------✩--------☽----------★---------◯--------------------------
        </div>
        <div *ngFor="let evento of eventos; let last = last">
          <app-evento [event]="evento"></app-evento>
          <div class="lineaStar" *ngIf="!last">
            ----------------------------◯------✩--------☽----------★---------◯--------------------------
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
