<div class="background">
  <div class="container">
    <h2>Formulario de contacto</h2>
    <form action="">
      Nombre
      <input type="text" name="nombre" maxlength="100" />
      Email
      <input type="text" name="email" maxlength="100" />
      Cuentanos sobre ti y que nos aportarias
      <textarea cols="30" rows="10" name="comentarios"></textarea>
      <div class="botones">
        <input type="submit" value="Enviar formulario" />
        <input type="Reset" value="Borrar todo" />
      </div>
    </form>
  </div>
</div>
