.slide {
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}
.rightArrow :hover{
  font-size: 50px;
  transition: 0.2s;
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}

.leftArrow :hover{
  font-size: 50px;
  transition: 0.2s;
}

.slider {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dotsContainer {
  display: flex;
  justify-content: center;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
