<app-loading *ngIf="loading; else elseBlock"></app-loading>
<ng-template #elseBlock>
    <div class="cuerpo">
    <h2>Desarrolladores</h2>
    <div class="conteiner">
        <div class="ladoIzquierdo">
            <div class="informacion">
                <h3>Nombre <i class="fa-solid fa-frog" style="color: #ffffff;"></i></h3>
                <p class="idato1"> Agustín Gomez </p>
                <h3 class="idato2"> Git hub <i class="fa-brands fa-github" style="color: #ffffff;"></i></h3>
                <a href="https://github.com/changote" target="_blank" class="idato3">Link Github</a>
                <h3 class="idato3">Linkedin <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></h3>
                <a href="https://www.linkedin.com/in/gomezagustin1896/" target="_blank" class="idato2">Link Linkedin</a>
                <h3 class="idato1">E-mail <i class="fa-regular fa-envelope" style="color: #ffffff;"></i></h3>
                <p>gomez.agustin1896@gmail.com</p>
              </div>
        </div>
        <div class="centro">
        <img src="../../../assets/img/CyA.png" alt="imagen nosotros">
        </div>
        <div class="ladoDerecho">
            <div class="informacion">
                <h3><i class="fa-solid fa-carrot" style="color: #ffffff;"></i> Nombre</h3>
                <p class="ddato1"> Carolina Ferraris </p>
                <h3 class="ddato2"><i class="fa-brands fa-github" style="color: #ffffff;"></i> Git hub</h3>
                <a href="https://github.com/LadyCari" target="_blank" class="ddato3">Link Github</a>
                <h3 class="ddato3"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i> Linkedin</h3>
                <a href="https://www.linkedin.com/in/carolina-ferraris-86264823b/" target="_blank" class="ddato2">Link Linkedin</a>
                <h3 class="ddato1"><i class="fa-regular fa-envelope" style="color: #ffffff;"></i> E-mail</h3>
                <p>kroferraris@gmail.com</p>
              </div>
        </div>
        </div>
</div>
</ng-template>

