<header>
        <div id="logo">
            <a href=""><img src="../../../../assets/logo/SpaceX_Logo_Black.png" alt="Logo Space X"></a>
        </div>
        <nav>
            <ul>
                <li><a href="/pistas"><i class="fa-solid fa-helicopter-symbol" style="color: #ffffff;"></i><span class="texto-nav"> pistas</span></a></li>
                <li><a href="/eventos-historicos"><i class="fa-solid fa-shuttle-space fa-rotate-270" style="color: #ffffff;"></i><span class="texto-nav"> eventos historicos</span></a></li>
                <li><a href=""><i class="fa-solid fa-satellite-dish" style="color: #ffffff;"></i><span class="texto-nav"> informacion tecnica</span></a></li>
            </ul>
        </nav>
        <div id="loggeo">
            <a href="/login"><i class="fa-solid fa-user-astronaut" style="color: #ffffff;"></i> ingresar</a>
        </div>
</header>
