header {
    display: flex;
    background-color: rgb(64, 64, 64);
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
}


header nav {
    width: 60%;
    display: flex;
    align-items: center;
}


header nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header nav ul li {

    text-align: center;
    font-size: 1.5rem;
}

header nav ul li a:hover {
    background-color: grey;
    border-radius: 20px;
    box-shadow: 4px 3px 5px rgb(70, 69, 69);
    transition: .5s;
}

header ul li a {
    text-decoration: none;
    font-family: 'Comfortaa', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#logo {
    width: 20%;
    padding-left: 1rem;
}

#loggeo {
    width: 10%;
    margin: 1rem;
    display: flex;
    padding-right: 1rem;
}

#loggeo a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
}

a {
    color: white;
}

@media (max-width: 1334px) {
    .texto-nav {
        display: none;
    }

    a {
        font-size: 50px;
    }
    header ul li a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
}