.container {
    position: relative;
    height: 50rem;
    width: 40rem;
    background-color: rgba(0, 0, 0, 0.74);
    font-family: 'Orbitron', sans-serif;
    padding: .5rem;
}

.title {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.input-registro {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.botones button {
    height: 2rem;
    margin: 10px;
    font-family: 'Orbitron', sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

.error-message{
    color:red;
    padding-bottom: 20px;
}
