.container {
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  font-family: "Comfortaa", sans-serif;
  align-items: center;
}
.background {
  background-color: rgba(27, 27, 27, 0.719);
  position: relative;
  padding-top: 150px;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-bottom: 5rem;
}

h2{
  text-align: center;
  font-size: 3rem;
  margin: 0px;
  color: azure;
  padding: 2rem;
  font-family: "Orbitron", sans-serif;
}

img {
  width: 20%;
  object-fit: contain;
}

.cable1 {
  transform: rotate(90deg);
}

/*parte 1*/
.sector1{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*parte 2*/
.sector2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.sector3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cable2 {
  width: 100%;  
}

.contenedorCable{
  width: 20%;
}

.chip {
  background-image: url("../../../assets/img/chip.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.img img{
height: 50%;
}

/*sector 4*/
.sector4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.sector4 img{
  clip-path: inset(0 45px 0 0);
}

/*sector 5*/
.sector5 {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.imgdiv img{
width: 110px;
height: 110px;
object-fit: cover;
border-radius: 10px;
box-shadow: 4px 2px 2px black;
}

.goBack{
  position: absolute;
  cursor: pointer;
  color: white;
  top: 150px;
  left: 10%;
}