<div class="conteiner">
    <div class="titulo">
      <h2>Crew</h2>
    </div>
<div *ngIf="crew.length != 0">
<mat-tab-group animationDuration="2000ms">
    <div class="card" *ngFor="let member of crew">
        <mat-tab label={{member.name}}>
            <img *ngIf="member.image != null" src="{{member.image}}" alt="imagen ship">
            <p>{{member.status}}</p>
            <p>{{member.agency}}</p>
        </mat-tab>
    </div>
</mat-tab-group>
</div>
<div *ngIf="crew.length == 0">
    <span>Este lanzamiento no tiene crew</span>
  </div>
  </div>
