<div class="conteiner">
  <div class="titulo">
    <h2>Crew</h2>
  </div>
  <div *ngIf="crew.length != 0">
    <mat-tab-group animationDuration="2000ms" [color]="'accent'">
      <div class="card" *ngFor="let member of crew">
        <mat-tab [label]="member.name">
          <div class="justify-content-center">
            <img *ngIf="member.image != null" src="{{ member.image }}" alt="imagen ship" />
          </div>
          <div class="texto">
            <h3>{{ member.name }}</h3>
            <div class="status retired" *ngIf="member.status === 'retired'">
              <span>Estado: Retirado</span>
            </div>
            <div class="status active" *ngIf="member.status === 'active'">
              <span>Estado: Activo</span>
            </div>
            <p>Agencia: {{ member.agency }}</p>
          </div>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <div *ngIf="crew.length == 0" class="textoNoInfo">no hay datos</div>
</div>