.container{
    padding-left: 7rem;
    padding-right: 7rem;
    background-image: url(../assets/img/fondo2.jpg);
}
@media (max-width: 845px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
}