<div class="card">
  <h2>Lanzamiento {{ data.name }}</h2>
  <div class="carrousel">
    <div *ngIf="data.success == true" class="exitoso">
        <p class="exito">Exito</p>
      </div>
      <div *ngIf="data.success == false" class="exito">
        <p class="fracaso">Fracaso</p>
      </div>
      <div *ngIf="data.success == undefined" class="exito">
        <p class="sin-definir">Sin informacion</p>
      </div>
    <image-slider [slides]="slides"></image-slider>
  </div>
  <div class="texto">
    <div class="sector1">
      <p>Fecha: {{ data.date_utc }}</p>
      <p>Numero de vuelo: {{ data.flight_number }}</p>
    </div>
    <p>Detalles: {{ data.details }}</p>
    <p>Fallas: {{ data.failures }}</p>
  </div>
</div>
