<div class="card">
  <h2>Lanzamiento {{ data.name }}</h2>
  <div>
    <div *ngIf="data.success == true" class="exitoso">
      <p class="exito">Exito</p>
    </div>
    <div *ngIf="data.success == false" class="exitoso">
      <p class="fracaso">Fracaso</p>
    </div>
    <div *ngIf="data.success == undefined" class="exitoso">
      <p class="sin-definir">Sin informacion</p>
    </div>
    <div class="justify-content-center">
      <div *ngIf="data.photo.length != 0" class="carrousel">
        <image-slider [slides]="slides"></image-slider>
      </div>
      <div *ngIf="data.photo.length == 0" class="carrousel">
        <img src="../../../assets/img/lanzamientoDefaut.jpg" alt="Imagen default">
      </div>
    </div>
  </div>
  <div class="texto">
    <div class="sector1">
      <p>Fecha: {{ data.date_utc }}</p>
      <p>Numero de vuelo: {{ data.flight_number }}</p>
    </div>
    <p *ngIf="data.details != undefined">Detalles: {{ data.details }}</p>
    <p *ngIf="data.failures.length != 0">Fallas:</p>
    <div *ngFor="let falla of data.failures">
      <div class="muestra-falla">
        <p>Razon: {{ falla.reason }}</p>
        <p>Tiempo: {{ falla.time }}s</p>
      </div>
    </div>
  </div>
</div>